<h1><%= @agency.name %></h1>
<h4><%= @agency.email%></h4>
<h4><%= number_to_phone(@agency.phone_number)%></h4>

<p>
  <%=@agency.street_1%><br>
  <%=@agency.street_2%>
  <%=@agency.city%>
  <%=@agency.state%>
  <%=@agency.zip_code%>
</p>
<%= link_to "Cats at this Agency", agency_cats_path(@agency.id)%>

<%if current_user.admin?%>
<%= link_to "Add Cat", new_cat_path%>
<%= link_to 'Edit', edit_agency_path(@agency)%>
<%end%>
<br>
<br>
