<!DOCTYPE html>
<html>
  <head>
    <title>CatCatalogue</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <footer>
    <%if logged_in?%>
    <%=link_to 'Home', user_path(current_user)%>
    <%=link_to 'All Cats', cats_path%>
    <%=link_to 'All Adoption Agencies', agencies_path%>
    <%end%>
  </footer>
</html>
